.navbar {
    margin-bottom: 0;
}

.vertical-align-middle {
    vertical-align: middle !important;
}

.bold {
    font-weight: bold;
}

.match .panel h4,
.match .panel p {
    margin: 0;
}

.match .icon {
    width: 16px;
}

.match .teams .col-xs-6 {
    padding-right: 5px;
    padding-left: 5px;
}

.match table {
    margin-bottom: 0 !important;
}