@model List<L4D2PlayStats.Sdk.Matches.Results.MatchResult>

<h4 class="text-center">Last matches</h4>

<div class="match">
    @foreach (var match in Model)
    {
        @await Html.PartialAsync("_Match", match)
    }
</div>