<div class="jumbotron text-center" style="margin-top: 20px">
    <h2>Player Not Found</h2>

    <p>
        The player you are looking for is not present in the ranking.
    </p>
    <p>
        Unfortunately, we cannot display the details of the requested player.
    </p>

    <a href="@Url.Action("Index", "Ranking")" class="btn btn-primary">
        Return to ranking page
    </a>
</div>