[defaults]
inventory = inventory.ini
host_key_checking = True
retry_files_enabled = False
roles_path = roles
stdout_callback = yaml
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
